option_settings:
  aws:elasticbeanstalk:application:environment:
    SIXPACK_CONFIG_REDIS_PORT:  6379
    SIXPACK_CONFIG_REDIS_HOST:  sixpack.0tedxg.0001.use1.cache.amazonaws.com
    SIXPACK_CONFIG_REDIS_PREFIX:  sixpack
    SIXPACK_CONFIG_REDIS_DB: 1
    SIXPACK_CONFIG_ROBOT_REGEX:  $^|trivial|facebook|MetaURI|butterfly|google|amazon|goldfire|sleuth|xenu|msnbot|SiteUptime|Slurp|WordPress|ZIBB|ZyBorg|pingdom|bot|yahoo|slurp|java|etch|spider|url|crawl|oneriot|abby|commentreader|twiceler
    SIXPACK_CONFIG_IGNORE_IPS:  None
    SIXPACK_CONFIG_SECRET:  ThisShouldBeSomethingVerySecretIGuess
  
 
